In [2]:
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

## Ideia

* Criar uma esteira para novas variáveis, onde consigamos verificar se a variável nova tem poder de discriminação ou não
* Criar interface gráfica para testes automáticos
* Criar potencial de impacto em política

## Content

There are 25 variables:

* **ID**: ID of each client
* **LIMIT_BAL**: Amount of given credit in NT dollars (includes individual and family/supplementary credit
* **SEX**: Gender (1=male, 2=female)
* **EDUCATION**: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
* **MARRIAGE**: Marital status (1=married, 2=single, 3=others)
* **AGE**: Age in years
* **PAY_0**: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)
* **PAY_2**: Repayment status in August, 2005 (scale same as above)
* **PAY_3**: Repayment status in July, 2005 (scale same as above)
* **PAY_4**: Repayment status in June, 2005 (scale same as above)
* **PAY_5**: Repayment status in May, 2005 (scale same as above)
* **PAY_6**: Repayment status in April, 2005 (scale same as above)
* **BILL_AMT1**: Amount of bill statement in September, 2005 (NT dollar)
* **BILL_AMT2**: Amount of bill statement in August, 2005 (NT dollar)
* **BILL_AMT3**: Amount of bill statement in July, 2005 (NT dollar)
* **BILL_AMT4**: Amount of bill statement in June, 2005 (NT dollar)
* **BILL_AMT5**: Amount of bill statement in May, 2005 (NT dollar)
* **BILL_AMT6**: Amount of bill statement in April, 2005 (NT dollar)
* **PAY_AMT1**: Amount of previous payment in September, 2005 (NT dollar)
* **PAY_AMT2**: Amount of previous payment in August, 2005 (NT dollar)
* **PAY_AMT3**: Amount of previous payment in July, 2005 (NT dollar)
* **PAY_AMT4**: Amount of previous payment in June, 2005 (NT dollar)
* **PAY_AMT5**: Amount of previous payment in May, 2005 (NT dollar)
* **PAY_AMT6**: Amount of previous payment in April, 2005 (NT dollar)
* **default.payment.next.month**: Default payment (1=yes, 0=no)

### Carregar base de Dados

In [4]:
df = pd.read_csv('UCI_Credit_Card_Bco.csv')

Parâmetros função de análise

In [5]:
predictors = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE',  
            'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6',
            'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6',
            'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5']
new_vars = ['AGE', 'PAY_AMT6', 'BILL_AMT1']
perfs = ['CLIENTE', 'LIS', 'CARTAO', 'CREDIARIO']
nOut = 1

Nome de descrição teste

In [49]:
name = 'UCI Teste'
description = 'Dados de idade e pagamentos por agente'

In [7]:
def new_test(df, predictors, new_vars, targets, nOut):
    
    #DEFINI OUT OF TIME
    df_test = df[df['SAFRA'].isin(df.SAFRA.drop_duplicates().sort_values()[:-nOut])]
    
    #LISTAS REGISTRO DE TESTE
    
     
    #LISTAS RESUMO MODELO
    prod = []
    giniOld = []
    giniNew = []
    diff = []
    
    #LISTAS RESUMO POR SAFRA   
    safra = []
    prod_sf = []
    gini_sf = []
        
    for seg in targets:
        
        #SEPARA PUBLICO COM PERFORMANCE
        df_test = df_test[df_test[seg].isin([1, 0])]
        
        train_df, val_df = train_test_split(df_test, test_size=0.15, random_state=1)
        
        #DEFINI 15% PARA VALIDAÇÃO DENTRO DO TREINO
        train_df, val_df = train_test_split(df_test, test_size=0.15, random_state=1)
        
        #MODELO COM VARIAVEIS ANTIGAS
        mdl = lgb.LGBMClassifier(random_state=0)
        mdl.fit(train_df[predictors], train_df[seg])

        #MODELO COM VARIAVEIS ANTIGAS E NOVAS
        ens_mdl = lgb.LGBMClassifier(random_state=0)
        ens_mdl.fit(train_df[predictors + new_vars], train_df[seg])
      
        #EXTRAÇÃO DE GINI VALIDAÇÃO PARA TABELA INICIAL
        gini = 2*(roc_auc_score(val_df[seg], mdl.predict_proba(val_df[predictors])[:, 1]))-1
        ens_gini = 2*(roc_auc_score(val_df[seg], ens_mdl.predict_proba(val_df[predictors + new_vars])[:, 1]))-1
        
        #CARRREGA RESULTADOS GINI TABELA RESUMO
        prod.append(seg)
        giniOld.append(round(gini, 2))
        giniNew.append(round(ens_gini, 2))
        diff.append(round((ens_gini - gini),2))
        
        #SCORA BASE FULL COM MODELO NOVO PARA VERIFICAR GINI POR SAFRA
        df['pred'] = ens_mdl.predict_proba(df[predictors + new_vars])[:, 1]
        for sf in df.SAFRA.drop_duplicates().sort_values():
            df_safra = df[df['SAFRA']==sf]
            gini = 2*(roc_auc_score(df_safra[seg], df_safra['pred']))-1
            prod_sf.append(seg)
            safra.append(sf)
            gini_sf.append(round(gini, 2))
        
    result_dict = {'Performance': prod, 
                   'Old Vars': giniOld, 
                   'Old Vars + New': giniNew, 
                   'Lift Gini': diff}
    result = pd.DataFrame(result_dict)
                      
    result_sf_dict = {'Performance': prod_sf, 
                      'Safra': safra, 
                      'Gini': gini_sf}
    result_sf = pd.DataFrame(result_sf_dict)

    return result, result_sf

In [8]:
result, result_sf = new_test(df, predictors, new_vars, perfs, 1)

In [51]:
result['Lift Gini'].max()

0.02

In [10]:
result_sf

   Performance   Safra  Gini
0      CLIENTE  202101  0.74
1      CLIENTE  202102  0.73
2      CLIENTE  202103  0.73
3          LIS  202101  0.74
4          LIS  202102  0.73
5          LIS  202103  0.74
6       CARTAO  202101  0.74
7       CARTAO  202102  0.74
8       CARTAO  202103  0.74
9    CREDIARIO  202101  0.73
10   CREDIARIO  202102  0.73
11   CREDIARIO  202103  0.73

### Carrega Log Geral

In [44]:
teste = {'TesteID': [1], 'Nome': ['Teste'], 'Descrição': ['Teste'], 'Houve ganho?': ['Sim'], 'Report': ['<a href="/repo1">Detalhes</a>']}

In [114]:
stlog = pd.read_csv("SandTestLog.csv")
teste_id = int(stlog['TesteID']) + 1

In [115]:
stlog

   TesteID   Nome Descrição Houve ganho?                         Report
0        1  Teste     Teste          Sim  <a href="/repo1">Detalhes</a>

In [116]:
gain = 'Não'
if result['Lift Gini'].max() >= 0.02:
    gain = 'Sim'

In [117]:
repolink = f'<href="/repo{str(teste_id)}"><i>Detalhes</i></a>'

In [118]:
print(repolink)

<href="/repo2"><i>Detalhes</i></a>

In [119]:
teste = {'TesteID': test_id, 'Nome': name, 'Descrição': description, 'Houve ganho?': gain, 'Report': f'<a href="/repo{teste_id}"><i>Detalhes</i></a>'}

In [120]:
teste1 = pd.DataFrame(teste)

In [121]:
stlog = stlog.append(teste1)

In [122]:
stlog

,TesteID,Nome,Descrição,Houve ganho?,Report
0,1,Teste,Teste,Sim,"<a href=""/repo1"">Detalhes</a>"
0,2,UCI Teste,Dados de idade e pagamentos por agente,Sim,"<a href=""/repo2""><i>Detalhes</i></a>"

In [46]:
teste_pd.to_csv("SandTestLog.csv", index=False)

In [123]:
log = str(stlog.to_html(index=False, escape=False)).split('<tr style="text-align: right;">')[1]

In [124]:
with open("index.html", "r", encoding='utf-8') as f:
    text = f.read()

In [128]:
index = f'''

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sand Sieve</title>

  <!-- Bookstrap Scripts -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="static/styles.css">


</head>

<body>

  <section  id="title">

    <!-- Nav Bar -->
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-dark">

  <a class="navbar-brand" href="sand_exploit/index">Sand Sieve</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="sand_exploit/templates/info">Informações</a>
          </li>
        </ul>
    </div>
</nav>
</section>

  <!-- Reports -->

  <section id="tbl_reports">

    <table class="table">
        {log}


  </section>

  <!-- Footer -->

  <footer id="footer">

    <p></p>

  </footer>


</body>

</html>
'''

In [129]:
print(index)

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sand Sieve</title>

  <!-- Bookstrap Scripts -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="static/styles.css">


</head>

<body>

  <section  id="title">

    <!-- Nav Bar -->
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-dark">

  <a class="navbar-brand" href="sand_exploit/index">Sand Sieve</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="sand_exploit/templates/info">Informações</a>
          </li>
        </ul>
    </div>
</nav>
</section>

  <!-- Reports -->

  <section id="tbl_reports">

    <table class="table">

      <th>TesteID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Houve ganho?</th>
      <th>Report</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Teste</td>
      <td>Teste</td>
      <td>Sim</td>
      <td><a href="/repo1">Detalhes</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>UCI Teste</td>
      <td>Dados de idade e pagamentos por agente</td>
      <td>Sim</td>
      <td><a href="/repo2"><i>Detalhes</i></a></td>
    </tr>
  </tbody>
</table>


  </section>

  <!-- Footer -->

  <footer id="footer">

    <p></p>

  </footer>


</body>

</html>

In [127]:
# Creating an HTML file
Func = open("index.html","w")
   
# Adding input data to the HTML file
Func.write(index)
              
# Saving the data into the HTML file
Func.close()

In [30]:
print(str(teste_pd.to_html(index=False, escape=False)).split('<tr style="text-align: right;">')[1])

      <th>TesteID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Houve ganho?</th>
      <th>Report</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Teste</td>
      <td>Teste</td>
      <td>Sim</td>
      <td><a href='/repo1'>Detalhes</a></td>
    </tr>
  </tbody>
</table>

In [55]:
# sorted(zip(clf.feature_importances_, X.columns), reverse=True)
feature_imp = pd.DataFrame(sorted(zip(model.feature_importances_,train_df[predictors].columns)), columns=['Value','Feature'])

In [54]:
feature_imp.sort_values(by="Value", ascending=False)

    Value    Feature
22    260  BILL_AMT1
21    226  LIMIT_BAL
20    217        AGE
19    210   PAY_AMT2
18    186   PAY_AMT6
17    186   PAY_AMT3
16    165   PAY_AMT5
15    163   PAY_AMT1
14    160  BILL_AMT6
13    147   PAY_AMT4
12    146  BILL_AMT4
11    144  BILL_AMT2
10    140  BILL_AMT5
9     136  BILL_AMT3
8     100      PAY_0
7      83  EDUCATION
6      66      PAY_6
5      58      PAY_2
4      50      PAY_3
3      50   MARRIAGE
2      44      PAY_4
1      36      PAY_5
0      27        SEX